.example1 {
    background-color: pink;
    width: 165px;
    height: 120px;
    overflow: auto;
  }
  
  .example2 {
    background-color: pink;
    width: 165px;
    height: 150px;
    overflow: auto;
  }