#ex1 {
    width: 400px;
    height: 200px;
    overflow-x: scroll;
    overflow-y: hidden;
  }
  
  #ex2 {
    background-color: #EEEEEE;
    box-sizing: border-box;
    width: 400px;
    padding: 30px;
    border: 1px solid #000000;
  }