
.wrap {
    width: 200px;
    margin: 5px;
    background: pink;
 }
 
 #ex1 {
   white-space: normal;
   overflow-wrap: normal;
 }
 
 #ex2 {
   white-space: normal;
   overflow-wrap: anywhere;
 }
 
 #ex3 {
   white-space: normal;
   overflow-wrap: break-word;
 }